body {
  background-color: #FA8071;
  color: white;
}

header {
  padding: 2% 1% 2% 1%;
}

img {
  width: 100%;
  padding: 1% 0%;
}

#paragraph {
  text-align: justify;
  padding: 0% 3% ;
}

h4{
  text-align: center;
}

#about-pandas, #pandas-4{
  background-color: #abe188;
  padding: 3% 3%;
}

#aboutPandas{
  background-color: #FA8071;
  padding: 3% 3%;
}

.img-thumbnail {
  height: 200px;
  width: 200px;
  border: 8px solid white;
}

#pictures-pandas {
  padding: 3% 0%;
}